
body {
    font-family: "Open Sans", sans-serif;
    background-color: #f9f9f9;
    color: #666;
    font-weight: 300;
}

h1 {
    font-weight: 300;
}

h3 {
    font-weight: 300;
}

.key {
    text-align: right;
    font-weight: bold;
}

.value {
    font-family: "Courier";
}

.navbar-inverse {
    background-color: #3278cf;
    border-color: #3278cf;
    border-radius: 0px
}

.navbar-inverse .navbar-brand {
    font-size: 150%;
    color: #fff
}

.navbar-inverse .username {
    margin-top: 14px;
    text-align: right;
    color: #fff
}

.navbar-inverse .username img {
    margin-top: -3px
}

.footer {
    height: 50px;
    text-align: right;
    font-size: 120%;
    color: #DDD
}

.footer .navbar {
    background-color: #333
}

.footer .navbar .logout {
    margin-top: 12px
}

.footer .navbar .logout a {
    color: #fff
}

.btn-primary {
    background-color: #3278cf;
    border-color: #3278cf
}

.signin-button {
    margin-top: 100px
}

.modal-dialog {
    height: 800px;
    width: 960px;
    background-color: white;
}

.modal-dialog .modal-body {
    height: 730px;
    width: 960px
}

.modal-dialog .modal-footer .btn {
    font-size: 100%;
}

.signin-app-user-fieldset,
.create-app-user-fieldset {
    width: 300px;
}
